html {
  background: url(final-fantasy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  padding: 0.3em 0em;
  margin: 0px;
}

#survey-form {	
	font-family: "Fira Sans", san-serif;
	font-size: 18px;
	padding: 25px;
	background-repeat: no-repeat;
	background-size: auto;
	text-align: center;
}

.container {
	border: 1px solid black;
	max-width: 10in;
	font-size: 10px;
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	background: rgba(204, 204, 204, 0.8);
	margin: auto;
	padding: 1px;
}

#description {
	font-size: 20px;
	font-family: 'Fira Sans', monospace;
	font-weight: bold;
	border: px solid black;
}
