html {
  background: url(final-fantasy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  padding: 0.3em 0em;
  margin: 0px;
}

#survey-form {
  font-family: "Fira Sans", san-serif;
  font-size: 18px;
  padding: 25px;
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
}

.container {
  border: 1px solid black;
  max-width: 10in;
  font-size: 10px;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  background: rgba(204, 204, 204, 0.8);
  margin: auto;
  padding: 1px;
}

#description {
  font-size: 20px;
  font-family: "Fira Sans", monospace;
  font-weight: bold;
  border: px solid black;
}

#name-field,
#age-label,
#email-field,
#password-field,
#age,
#radio-buttons,
#dropdown,
#textarea,
#checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  padding: 0px 0px 10px 0px;
}

#name-label,
#email-label,
#password-label,
#number-label,
#radiolist-label,
#character-label,
#textarea-label,
#checklist-label {
  width: 100%;
  text-align: left;
  padding: 4px 0px 0px 0px;
  font-weight: bold;
}

input[name="name"],
input[name="age"],
input[name="email"],
input[name="password"],
textarea[name="textarea"] {
  width: 100%;
  max-width: 90%;
  padding: 4px;
  outline: none;
  border-radius: 5px;
}

select {
  width: 50%;
  padding: 4px;
}

p {
  margin: 0px 0px 5px 0px;
}

.button {
  background-color: rgb(5, 33, 44);
  padding: 8px 16px 8px 16px;
  border-radius: 2px;
  border: none;
  font-size: 24px;
  color: white;
}

.button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}
